body {
  background-color: lightgray;
}
#container {
  width: 1200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}
#foto {
  float: left;
  width: 200px;
  margin-left: 100px;
  margin-top: 50px;
}
#name {
  float: left;
  width: 750px;
  margin-left: 150px;
  margin-top: 50px;
}
#right-side {
  clear: both;
  float: right;
  width: 750px;
  margin-left: 150px;
}
#left-side {
  margin-left: 100px;
  float: right;
  width: 200px;
}
#footer {
  clear: both;
  margin-left: 100px;
  margin-right: 100px;
}
#surname,
#work_experience,
#education,
#language,
#skills,
#courses,
#hobbies,
#projekty {
  color: royalblue;
}
#clause {
  color: black;
}
#footer {
  color: rgb(0, 0, 0);
}
a {
  color: grey;
}
